// google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

// universal colors
$white : #fff;
$black : #000;
$green : rgba(34, 129, 131, 1);
$transition : all .3s ease-in-out;


* {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgba(34, 129, 131, 1) 9%, rgba(245, 221, 183, 1) 92%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $white;
  font-weight: lighter;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @media (max-height: 600px) {
    height: auto;

  }

  @include respond(phone) {
    height: 100%;
  }

  @include respond(desktop) {
    height: 100%;
  }

}

img {
  width: 100%;
}

p {
  margin: 1.5rem 0;
  text-align: left;
}