@import "../../Styling/Config.scss";

.consultation {
  background-image: url("../../Assets/bg.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
  &__container {
    max-width: 1440px;
    width: 60%;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-box);
    padding: 2rem;
    // height: 100vh;
    &::-webkit-scrollbar {
      display: none;
    }
    &__step {
      height: fit-content !important;
    }
    @include respond(desktop) {
      position: absolute;
      top: 2rem;
    }
    @include respond(tabland) {
      width: 95%;
      position: absolute;
      top: 1rem;
    }
    @include respond(phone) {
      padding: 1rem;
      top: 2rem;
      position: absolute;
    }

    &-btns {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100%;

      > * {
        background-color: var(--dark-olive);
        color: var(--light-color);
        padding: 0.5rem;
        font-size: 1.1rem;
        cursor: pointer;
        border: 2px solid var(--dark-olive);
        font-weight: bold;
        transition: 0.4s ease-in-out;
        &:hover {
          background-color: transparent;
          border: 2px solid var(--dark-olive);
          color: var(--dark-olive);
        }
        &:disabled {
          cursor: not-allowed;
          background: rgba(#ffffff, 0.1);
          color: rgba(#efefef, 0.3);
          border: none;
        }
      }
    }

    .d-f {
      display: grid;
      grid-template-columns: 20% 78%;
      grid-gap: 2%;
    }

    &__form {
      text-align: center;

      .d-f {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;

        @include respond(tabport) {
          grid-template-columns: 100%;
        }
      }

      .smallSubHeading {
        color: var(--dark-olive) !important;
        font-weight: normal;
      }
    }
    .subHeading {
      color: var(--dark-olive);
    }
  }
}
.submit {
  width: 100%;
  background-color: var(--dark-olive);
  color: var(--light-color);
  padding: 0.77rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  border: 2px solid var(--dark-olive);
  &:hover {
    background-color: transparent;
    border: 2px solid var(--dark-olive);
    color: var(--dark-olive);
  }
}
.images {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  @include respond(phone) {
    grid-template-columns: 100%;
  }
  // input {
  //   font-size: 0.9rem;
  //   margin: 0;
  // }
}

.preferences {
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 75%;
    @include respond(sm) {
      grid-template-columns: 100%;
    }
    .smallSubHeading {
      flex-wrap: wrap;
      word-wrap: break-word;
    }
  }
}
.bunny {
  width: 300px;
  height: 300px;
  margin: auto;
  img {
    width: 100%;
    margin: 2rem 0;
    height: 100%;
    object-fit: cover;
  }
}
