@import "../../Styling/Config.scss";

.payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  &__img {
    background-image: url("../../Assets/white_wedding.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    .link {
      color: var(--dark-olive);
      
    }
    &_btns {
      display: flex;
      margin-top: 1rem;
      @include respond(phone) {
        flex-direction: column;
      }
      > * {
        width: fit-content;
        padding: 1rem;
        background-color: var(--dark-olive);
        color: var(--light-color);
        font-weight: bold;
        margin-right: 1rem;
        border: 2px solid var(--dark-olive);
        transition: 0.4s ease-in-out;
        @include respond(phone) {
          margin: 0;
          padding: 0.5rem;
          font-size: 0.9rem;
        }
        &:hover {
          background-color: transparent;
          border: 2px solid var(--dark-olive);
          color: var(--dark-olive);
        }
      }
    }
  }
}
