.toast {
  padding: 0.6rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  border-radius: 6px;
  border: 1px solid;
  border-bottom: 5px solid var(--dark-olive);
  font-weight: bold;
  color: var(--dark-olive);
  background-color: rgba($color: #ffff, $alpha: 0.6);
  transition: 0.7s ease;
  max-width: 280px;
  width: 100%;
  word-wrap: break-word;
}
